extends layout

block content
    div.row.header
      div.col-xs-12.text-center
        h1 Pronounce Me
    ul
        li
            a(href='/additem') Add Pronunciation
        li
            a(href='/searchitems') View All Pronunciations
